/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

*,
::after,
::before {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* primary colors*/
    --lightred: hsl(0, 100%, 67%);
    --lightred-1: hsla(0, 100%, 67%,0.1);
    --orangeyellow: hsl(39, 100%, 56%);
    --orangeyellow-1: hsla(39, 100%, 56%, 0.1);
    --greenteal: hsl(166, 100%, 37%);
    --greenteal-1: hsla(166, 100%, 37%, 0.1);
    --cobaltblue: hsl(234, 85%, 45%);
    --cobaltblue-1: hsla(234, 85%, 45%, 0.1);

    /* neutral colors */
    --white: hsl(0, 0%, 100%);
    --paleblue: hsl(221, 100%, 96%);
    --paleblue-7: hsla(221, 100%, 96%, 0.7);
    --lightlavender: hsl(241, 100%, 89%);
    --lightlavender-6:hsla(241, 100%, 89%,0.6);
    --darkgreyblue: hsl(224, 30%, 27%);
    --darkgreyblue-3: hsla(224, 30%, 27%, 0.3);

    /* gradients background */
    --lightslateblue: hsl(252, 100%, 67%);
    --lightslateblue-7: hsla(252, 100%, 67%, 0.7);
    --lightroyalblue: hsl(241, 81%, 54%);

    /* gradients circle */
    --violetblue: hsla(256, 72%, 46%, 1);
    --violetblue-1: hsla(256, 72%, 46%, 0.1);
    --persianblue: hsla(241, 72%, 46%, 0);

    --font: 'Hanken Grotesk', sans-serif;
    --borderRadius: 0.75rem;
    --borderRadius-medium: 2rem;
    --borderRadius-large: 5rem;
    --transition: all 0.3s linear;
    --light-shadow: 0 0 15px hsla(241, 100%, 89%, 0.5);
}

html {font-size: 112.5%;} /*18px*/


body {
    background: var(--white);
    font-family: var(--font), sans-serif;
    font-weight: 500;
    line-height: 1.75;
    color: var(--lightlavender-6);
}


p {
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: var(--font), sans-serif;
    font-weight: 500;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

small, .text-small {
    font-size: 0.8rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* 
==============
Card
==============
*/

.card-container {
    min-height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
}   

.result-card {
    background: linear-gradient(to top, var(--lightroyalblue) 50%, var(--lightslateblue));
    text-align: center;
    width: 375px;
    max-width: 90vw;
    border-bottom-left-radius: var(--borderRadius-medium);
    border-bottom-right-radius: var(--borderRadius-medium);
}

.result-card p {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    color: var(--lightlavender);
}

.score-container {
    background: linear-gradient(var(--violetblue), var(--violetblue-1));
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    flex-direction: column; 
    border-radius: 50%;
}

.score-text {
    margin-top: 3rem;
}

.score-text h2 {
    font-weight: 800;
    color: var(--white);
    font-size: 3.25rem;
    padding-bottom: 2rem;
    margin-top: -1rem;
}

.score-text p {
    margin-top:-3.5rem;
}

.score-footer {
    margin-top: -2rem;
}

.score-footer h4 {
    color: var(--white);
    font-weight: 500;
  
}

.score-footer p {
    padding: 3.5rem;
    padding-bottom: 1rem;
    margin-top: -4.25rem;
    font-size: 0.9rem;
    color: var(--paleblue-7);
    line-height: 1.5;
}


.summary-card {
    background: var(--white);
    display: flex;
    flex-direction: column;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.summary-card p {
    color: var(--darkgreyblue);
    font-weight: 700;
    margin-top: 0.5rem;
    font-size: 1.25rem;

}

.summary-list {
    width: 98%;
    margin: 0 auto;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    background: var(--lightred-1);
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: var(--borderRadius);
    outline-style: solid;
    outline-color: transparent;
}

.summary-item-details {
    display: flex;
    align-items: center;
}

.summary-item-name {
    text-transform: capitalize;
    padding-left: 0.75rem;
}

.reaction {
    color: var(--lightred);
    background: var(--lightred-1);
}

.memory {
    color: var(--orangeyellow);
    background: var(--orangeyellow-1);
}

.verbal {
    color: var(--greenteal);
    background: var(--greenteal-1);    
}

.visual {
    color: var(--cobaltblue);
    background: var(--cobaltblue-1);
}

.actual-value {
    color: var(--darkgreyblue);
    font-weight: 800;
}

.out-of-hundred {
    color: var(--darkgreyblue-3);
    font-weight: 800;
}

.btn {
    background: var(--darkgreyblue);
    border: none;
    padding: 1rem;
    color: var(--white);
    border-radius: var(--borderRadius-large);
    font-size: 1rem;
    margin: 0.5rem 0.5rem 0.65rem 0.5rem;
    transition: var(--transition);
}

.btn:hover {
    background: linear-gradient( 180deg, var(--lightslateblue) 5%, var(--lightroyalblue));
    cursor: pointer;
}


.btn:focus {
    outline: 2px solid transparent;
    background: linear-gradient( 180deg, var(--lightslateblue) 5%, var(--lightroyalblue));
}

/* 
===================================
Media Queries
====================================
*/

@media screen and (min-width: 1000px) {

    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
    }

    .result-card {
        height: 500px;
        width: 375px;
        display: grid;
        justify-self: end;
        border-radius: var(--borderRadius-medium);
        z-index: 1;
    }

    .summary-card {
        width: 400px;
        margin-left: -3rem;
        padding-left: 5rem;
        padding-right: 2rem;
        box-shadow: var(--light-shadow);
        border-top-right-radius: var(--borderRadius-medium);
        border-bottom-right-radius: var(--borderRadius-medium);
    }
}
